*{
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
:root{
  font-size:1rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --text-primary:#b6b6b6;
  --text-secondary:#ececec;
  --bg-primary:#23232e;
  --bg-secondary:#141418;
  --transition-speed:300ms;

}

body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar{
  width:0.4rem;

}
body::-webkit-scrollbar-track{
  background:#1e1e1e24;
}
body::-webkit-scrollbar-thumb{
  background:#2196f3;
  border-radius: .3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form {
  background: linear-gradient(to left top, #22132e, #000) fixed;
  color:white;
}
input {
  width:90%;
  margin:.5em;
  padding: 10px;
  font-size: 18px;
  outline:none;
  background: linear-gradient(to left top, #000, #22132e) fixed;
  border-radius: 10px;
  border: 2px solid rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.8);
  transition: all 0.5s;

}

input:hover {
  border: 2px solid rgba(255,255,255,0.5);
}
input:focus {
  border: 2px solid rgba(255,255,255,0.5);
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
}

.item{
  padding:1rem;
  border:2px solid beige;
  margin:1rem 2rem;
}

button {
  padding: 0.6em 2em;
  margin:1em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


select{
   width:80%;
  height: 2rem;
}
.mainContainer{
  margin-left:5rem;
  padding:1rem;
}

/* Sidebar , Navbar */

.sidebar{

  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
  z-index: 1000;
}


.sidebarNav{
  list-style: none;
  padding:0;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.navItem{
  width:100%;
}

.navItem:last-child{
  margin-top:auto;

}

.navLink{
  display:flex;
  align-items: center;
  height: 5rem;
  color:var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.linkText{
  display:none;
  margin-left:1rem;
}

.navLink svg{
  min-width: 2rem;
  margin:0 1.5rem;
}



.navLink:hover{
  background-color: var(--bg-secondary);
  color:var(--text-secondary);
}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color:var(--text-secondary);
  background-color: var(--bg-secondary);
  font-size:1.5rem;
  letter-spacing: 0.3ch;
  width:100%;
}
.logo .navLink{
  display: flex;
  justify-content: space-around;
}


.logo svg{
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.sidebar:hover .logo svg{
  transform: rotate(-180deg);
}
/* small screens */
@media only screen and (max-width: 600px){
  .sidebar{
    bottom:0;
    width:100vw;
    height: 5rem;

  }
  .logo{
    display:none;
  }
  .sidebarNav{
    flex-direction: row;
  }
  .navLink{
    justify-content: center;
  }
  .mainContainer{
    margin:0;
  }
  .navItem .navLink{
    display:flex;
    flex-direction: column;
  }
  .linkText{
    display: block;
  }
  .l2c{
    display:none;
  }

}

/* large screens */
@media only screen and (min-width: 600px){
  .sidebar{
    top:0;
    width:5rem;
    height:100vh;
  }
  .sidebar:hover{
    width:16rem;
  }
  
  .sidebar:hover .linkText{
    display:inline;
    transition: opacity var(--transition-speed);
  }
}

/* Dashboard Grid */
body{
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  min-height: 100vh;
  background:#232427;
  color:white;
}
.dashboardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 2.5rem 0;
}
.dashboardContainer .dashboardCard{
  position: relative;
  min-width: 19rem;
  min-height: 24rem;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
              inset -5px -5px 15px rgba(255,255,255,0.1),
              5px 5px 15px rgba(0,0,0,0.3),
              -5px -5px 15px rgba(255,255,255,0.2);
  border-radius: 1rem;
  margin:1rem;
}

.dashboardContainer .dashboardCard .dashboardBox{
  position:absolute;
  top:1rem;
  left:.8rem;
  right:1rem;
  bottom:1rem;
  height: inherit;
  background:#2a2b2f;
  border:2px solid #1e1f23;
  border-radius: 1rem;
  box-shadow : 0 20px 50px rgba(0,0,0,0.5);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dashboardContainer .dashboardCard .dashboardBox::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height: 100%;
  background-color: rgba(255,255,255,0.03);
  pointer-events: none;
}

.dashboardContainer .dashboardCard .dashboardBox:hover{
  transform: translateY(-35px);
  box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}

.dashboardContainer .dashboardCard .dashboardBox .dashboardContent{
  padding:1.2rem;
  text-align: center;
}


.dashboardContainer .dashboardCard .dashboardBox .dashboardContent h2{
  position:absolute;
  top:-100px;
  right:10px;
  font-size:7em;
  color:rgba(255,255,255,0.05);
}


.dashboardContainer .dashboardCard .dashboardBox .dashboardContent h3{
  font-size:2em;
  color:rgba(255,255,255,0.5);
  z-index: 1;
  transition: 0.5s;
}

.dashboardContainer .dashboardCard .dashboardBox .dashboardContent p{
  font-size:1rem;
  font-weight: 300;
  color:rgba(255,255,255,0.5);
  z-index: 1;
  transform: 0.5s;
}
.dashboardLink{
  background: #2196f3;
  font-weight: 500;
  color:white;
  transition: 0.2s ease;
}
.dashboardLink:hover{
  color:#008cff;
  font-weight:700;
  background-color:#141418d6;
}


/* small screens */
@media only screen and (max-width: 400px){
.dashboardContainer .dashboardCard{
  min-width: 90vw;
}

}