*{
    margin:0;
    padding:0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
:root{
  font-size:1rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --text-primary:#b6b6b6;
  --text-secondary:#ececec;
  --bg-primary:#23232e;
  --bg-secondary:#141418;
  --transition-speed:300ms;

}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar{
  width:0.4rem;

}
body::-webkit-scrollbar-track{
  background:#1e1e1e24;
}
body::-webkit-scrollbar-thumb{
  background:#2196f3;
  border-radius: .3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* form {
  background: linear-gradient(to left top, #22132e, #000) fixed;
  color:white;
}
input {
  width:90%;
  margin:.5em;
  padding: 10px;
  font-size: 18px;
  outline:none;
  background: linear-gradient(to left top, #000, #22132e) fixed;
  border-radius: 10px;
  border: 2px solid rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.8);
  transition: all 0.5s;

}

input:hover {
  border: 2px solid rgba(255,255,255,0.5);
}
input:focus {
  border: 2px solid rgba(255,255,255,0.5);
  background: linear-gradient(to left top, #000, #4e2d69) fixed;
}

.item{
  padding:1rem;
  border:2px solid beige;
  margin:1rem 2rem;
}

button {
  padding: 0.6em 2em;
  margin:1em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


select{
   width:80%;
  height: 2rem;
} */
.mainContainer{
  margin-left:5rem;
  padding:1rem;
  min-height: 100vh;
}
/* Login */
.loginContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:#23242a;
}
.loginBox{
  position:relative;
  min-width: 380px;
  min-height: 400px;
  background-color: #1c1c1c;
  border-radius: .5rem;
  overflow:hidden;
}

.loginBox::before{
  content:'';
  position:absolute;
  top:-50%;
  left:-50%;
  min-width: 380px;
  min-height: 400px;
  background: linear-gradient(0deg,transparent,#008cff,#008cff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.loginBox::after{
  content:'';
  position:absolute;
  top:-50%;
  left:-50%;
  min-width: 380px;
  min-height: 420px;
  background: linear-gradient(0deg,transparent,#008cff,#008cff);
  transform-origin: bottom right;
  animation:animate 6s linear infinite;
  animation-delay:-3s;
}
@keyframes animate {
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}

.loginForm{
  position:absolute;
  inset:2px;
  border-radius: .5rem;
  background-color: #28292d;
  z-index: 10;
  padding:3.4rem 2.8rem;
  display: flex;
  flex-direction: column;
}

.loginForm h2{
  color:#008cff;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1em;
}

.loginInputBox{
  position:relative;
  min-width:300px;
  margin-top:2rem;
}
.loginInputBox input{
  position:relative;
  width:100%;
  padding:20px 10px 10px;
  background-color: transparent;
  border:none;
  outline:none;
  color:#23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}
.loginInputBox span{
  position: absolute;
  left:0;
  padding:20px 10px 10px;
  font-size: 1em;
  color:#8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
  font-weight: 600;
}
.loginInputBox input:valid ~ span,
.loginInputBox input:focus ~ span{
  color:#008cff;
  transform:translateX(0px) translateY(-34px);
  font-size:0.8em;
}

.loginInputBox i{
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height: 2px;
  background-color: #008cff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index:9;
}

.loginInputBox input:valid ~ i,
.loginInputBox input:focus ~ i{
  height: 38px;
}

.loginSubmit{
  margin-top: 2rem;
  border:none;
  outline:none;
  background-color: #008cff;
  padding:.8rem 1.4rem;
  width:40%;
  border-radius: .5rem;
  font-weight: bold;
  cursor:pointer;
  color:white;
}

.loginSubmit:hover{
  opacity:0.7;
  color:#d4d6eb;
}

@media only screen and (max-width: 428px){
 .loginBox{
  min-width: 90vw;
 }
 .loginForm{
  padding:2rem 1rem;
 }
 .loginInputBox{
  min-width: 80vw;
 }
}

/* Appbar */
.appbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 6rem;
}
.switch{
  display:flex;
  width:100%;
  /* height: 100px; */
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.switch label{
  margin:10px;
}

#light .switch label{
  color:#202035;
}

#dark .switch label{
  color:white;
}

#light body{
  color:#141418;
  background-color: #ebecf0;
}
#dark body{
  background:#232427;
  color:white;
}
#light{
  color:#141418;
  background-color: #ebecf0;
}
#dark {
  background:#232427;
  color:white;
}
/* Sidebar , Navbar */

.sidebar{

  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
  z-index: 1000;
}


.sidebarNav{
  list-style: none;
  padding:0;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.navItem{
  width:100%;
}

.navItem:last-child{
  margin-top:auto;

}

.navLink{
  display:flex;
  align-items: center;
  height: 5rem;
  color:var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.linkText{
  display:none;
  margin-left:1rem;
}

.navLink svg{
  min-width: 2rem;
  margin:0 1.5rem;
}



.navLink:hover{
  background-color: var(--bg-secondary);
  color:var(--text-secondary);
}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color:var(--text-secondary);
  background-color: var(--bg-secondary);
  font-size:1.5rem;
  letter-spacing: 0.3ch;
  width:100%;
}
.logo .navLink{
  display: flex;
  justify-content: space-around;
}


.logo svg{
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.sidebar:hover .logo svg{
  transform: rotate(-180deg);
}
/* small screens */
@media only screen and (max-width: 600px){
  .sidebar{
    bottom:0;
    width:100vw;
    height: 5rem;
  }
  .appbar{
    padding:.8rem;
  }
  .switch{
    flex-direction: column;
  }
  .switch label{
    padding:0;
    margin:0;
    margin-top:.3rem;
  }
  .logo{
    display:none;
  }
  .sidebarNav{
    flex-direction: row;
  }
  .navLink{
    justify-content: center;
  }
  .mainContainer{
    margin:0;
  }
  .navItem .navLink{
    display:flex;
    flex-direction: column;
  }
  .linkText{
    display: block;
  }
  .l2c{
    display:none;
  }

}

/* large screens */
@media only screen and (min-width: 600px){
  .sidebar{
    top:0;
    width:5rem;
    height:100vh;
  }
  .sidebar:hover{
    width:16rem;
  }
  
  .sidebar:hover .linkText{
    display:inline;
    transition: opacity var(--transition-speed);
  }
}

/* Dashboard Grid */
body{
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  min-height: 100vh;
  /* background:#232427;
  color:white; */
}
#dark .dashboardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 2.5rem 0;
}
#dark .dashboardContainer .dashboardCard{
  position: relative;
  min-width: 19rem;
  min-height: 24rem;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
              inset -5px -5px 15px rgba(255,255,255,0.1),
              5px 5px 15px rgba(0,0,0,0.3),
              -5px -5px 15px rgba(255,255,255,0.2);
  border-radius: 1rem;
  margin:1rem;
}

#dark .dashboardContainer .dashboardCard .dashboardBox{
  position:absolute;
  top:1rem;
  left:.8rem;
  right:1rem;
  bottom:1rem;
  height: inherit;
  background:#2a2b2f;
  border:2px solid #1e1f23;
  border-radius: 1rem;
  box-shadow : 0 20px 50px rgba(0,0,0,0.5);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#dark .dashboardContainer .dashboardCard .dashboardBox::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height: 100%;
  background-color: rgba(255,255,255,0.03);
  pointer-events: none;
}

#dark .dashboardContainer .dashboardCard .dashboardBox:hover{
  transform: translateY(-35px);
  box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}

#dark .dashboardContainer .dashboardCard .dashboardBox .dashboardContent{
  padding:1.2rem;
  text-align: center;
}


#dark .dashboardContainer .dashboardCard .dashboardBox .dashboardContent h2{
  position:absolute;
  top:0px;
  right:10px;
  font-size:7em;
  color:rgba(255,255,255,0.05);
}


#dark .dashboardContainer .dashboardCard .dashboardBox .dashboardContent h3{
  font-size:2em;
  color:rgba(255,255,255,0.5);
  z-index: 1;
  transition: 0.5s;
}

#dark .dashboardContainer .dashboardCard .dashboardBox .dashboardContent p{
  font-size:1rem;
  font-weight: 300;
  color:rgba(255,255,255,0.5);
  z-index: 1;
  transform: 0.5s;
}
#dark .dashboardLink{
  background: #2196f3;
  font-weight: 500;
  color:white;
  transition: 0.2s ease;
}
#dark .dashboardLink:hover{
  color:#008cff;
  font-weight:700;
  background-color:#141418d6;
}

#light .dashboardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 2.5rem 0;
}
#light .dashboardContainer .dashboardCard{
  position: relative;
  min-width: 19rem;
  min-height: 24rem;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
              inset -5px -5px 5px rgba(255,255,255,0.5),
              5px 5px 5px rgba(0,0,0,0.05),
              -5px -5px 5px rgba(255,255,255,0.5);
  border-radius: 1rem;
  margin:1rem;
}

#light .dashboardContainer .dashboardCard .dashboardBox{
  position:absolute;
  top:1rem;
  left:.8rem;
  right:1rem;
  bottom:1rem;
  height: inherit;
  /* border:2px solid #1e1f23; */
  border-radius: 1rem;
  background:#ebf5fc;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#light .dashboardContainer .dashboardCard .dashboardBox::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height: 100%;
  background-color: rgba(47, 43, 43, 0.125);
  pointer-events: none;
}

#light .dashboardContainer .dashboardCard .dashboardBox:hover{
  transform: translateY(-35px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  background:linear-gradient(45deg,cyan,#2196f3,#008cff);
}

#light .dashboardContainer .dashboardCard .dashboardBox .dashboardContent{
  padding:1.2rem;
  text-align: center;
}


#light .dashboardContainer .dashboardCard .dashboardBox .dashboardContent h2{
  position:absolute;
  top:0px;
  right:10px;
  font-size:7em;
  color:rgba(0, 0, 0, 0.088);
}


#light .dashboardContainer .dashboardCard .dashboardBox .dashboardContent h3{
  font-size:2em;
  color:#777;
  z-index: 1;
  transition: 0.5s;
}

#light .dashboardContainer .dashboardCard .dashboardBox .dashboardContent p{
  font-size:1rem;
  font-weight: 300;
  color:#777;
  z-index: 1;
  transform: 0.5s;
}
#light .dashboardContainer .dashboardCard:hover .dashboardBox .dashboardContent h3,
#light .dashboardContainer .dashboardCard:hover .dashboardBox .dashboardContent p{
  color:#fff;
}

#light .dashboardLink{
  background: #215df3;
  font-weight: 500;
  color:white;
  transition: 0.2s ease;
}
#light .dashboardLink:hover{
  color:#008cff;
  font-weight:700;
  background-color:#141418d6;
}
/* small screens */
@media only screen and (max-width: 400px){
.dashboardContainer .dashboardCard{
  min-width: 90vw;
}

}

/* sub dashboard */




/* Client - Manage Client */

.manageClientDialogOpen{
  display:flex;
  justify-content: center;
  padding:1rem;
  width:100%;
  align-items: center;
}
.manageClientDialogOpen button{
  cursor:pointer;
  padding:.8rem 1.3rem;
  border-radius: .9rem;
  text-align:center;
  border: 2px solid transparent;
  background: linear-gradient(160deg,#f0f1f4 0%,#e4e6eb 100%);
  box-shadow: -3px -3px 6px 2px #fff , 5px 5px 8px 0px rgba(0,0,0,0.17), 1px 2px 2px 0px rgba(0,0,0,0.1);
  transition: 0.1s;
  font-weight: bold;
}

.manageClientDialogOpen button:focus,
.manageClientDialogOpen button:hover
{
  border:1.4px solid #fafafa;
  outline:none;
  box-shadow: inset -3px -3px 5px 0px #fff , -1px -1px 4px 0px #fff, inset 5px 5px 10px 0px rgba(0,0,0,0.12) , inset 2px 2px 3px 0px rgba(0,0,0,0.07), 1px 2px 3px 0px rgba(0,0,0,1);
}
.manageClientDialogForm{
  padding:.5rem 1rem;
}

.manageClientDialogHeading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}